.table {
	height: 120px;
	width: 120px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	cursor: pointer;
}

.menu {
	background-color: #9670CE;
	width: 250px;
	height: 50px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
	cursor: pointer;
}

.button {
	height: 80px;
	width: 200px;
	border-radius: 20px;
	display: flex;
	align-self: flex-end;
	align-items: center;
	justify-content: center;
	margin: 40px;
	cursor: pointer;
}

.button > p { 
	font-size: 25px
}

.available {
	background-color: #27CC6A;
}

.open {
	background-color: #FED08A;
}

.closed {
	background-color: #F76065;
}

.text {
	font-size: 15px;
	color: rgb(46, 46, 46);
	padding: 10px
}