.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-flow: row wrap;
	justify-content:space-around; 
}

.tables {
	width: 40%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}