img {
	height: 50px;
	margin: 20px;
	transform: rotate(0.75turn);
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav div {
	cursor: pointer;
}

.container {
	display: flex;
	flex-flow: column;
}